<header>
    <h2 class="logo">logo</h2>
    <nav class="navigation">
      <a href="/user/<%= id %>/">Home</a>
      <a href="/user/<%= id %>/bekijk">Bekijken</a>
      <a href="/user/<%= id %>/blacklist">Blacklisted</a>
      <a href="/user/<%= id %>/vraagOrdenen">Ordenen</a>
      <button class="btnLogin-popup"><a href="login">Login</a></button>
    </nav>
  </header>
</head>