<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/stylelogin.css" />
    <script src="js/model.js"></script>
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check" />
      <div class="login form">
        <header>Login</header>
        <form action="/login" method="post" >
          <input type="email" name="email" placeholder="Enter your email" required />
          <input type="password" id="password" name="password" placeholder="Enter your password" required />
          <a href="#">Forgot password?</a>
          <input type="submit" id="loginBtn" class="button" value="login" />
        </form>
        
        <div class="signup">
          <span class="signup"
            >Don't have an account?
            <a href="/signup">Sign up</a>
          </span>
        </div>
      </div>
      <% if(message){ %>
        <small><%= message %></small>
      <% }; %>
      
    </div>
 <%- include ("partials/footer.ejs") %>
