<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordenen</title>
  <link type="text/css" rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <header>
    <h2 class="logo">logo</h2>
    <nav class="navigation">
      <a href="home">Home</a>
      <a href="bekijk">Bekijken</a>
      <a href="blacklist">Blacklisted</a>
      <a href="ordenen">Ordenen</a>
      <button class="btnLogin-popup"><a href="login">Login</a></button>
    </nav>
  </header>
  <main>
    <table id="bekijk">
      <thead>
        <tr>
          <th>Minifig</th>
          <th>set A</th>
          <th>Set B</th>
          <th>Set C</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if (count>1) { %>
            
            <td>
              <%= data2.name %> <br>
              <img height="250" alt="minifig" src=<%=data2.set_img_url %>
            </td>
            <% for (let i=0; i < data.length; i++){ %>
                <td>
                  <%= data[i].name %>
                  <br>
                  <img height="250" alt="minifig" src=<%=data[i].set_img_url %>
                </td>
              
            <% }; %>


           <%}; %>

      </tbody>
    </table>
  </main>
  <footer>
    <p>&copy; Lego Team</p>
  </footer>
</body>

</html>