<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/reset.css>" />
    <link type="text/css" rel="stylesheet" href="/css/stylelogin.css" />
    <title>Sign up</title>
</head>
<main>
    <body>
        <div class id="signup-container">
          <h1>Signup Completed!</h1>
          <p>>Welcome :   <%= firstname %> , Thank you for signing up. Your account has been successfully created.</p>
          <a href="login">Click here to log in</a>
        </div>
        

<%- include ("partials/footer.ejs") %>