<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordenen</title>
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />

  <%- include ("partials/header.ejs") %>

<body>
  <main>
    <div id="vraagOrdenen-container">
      <form id="vraag-form" method="post" action="/user/<%= id %>/vraagOrdenen">
  
        <label for="sorteerAantal">Er zijn geen minifigs om te sorteren, Hoeveel minifigs wil jij sorteren? </label>
        <input id="vraagInput" type="number" name="orderAmount" min="1" max="10">
        <input id="submitVraag" type="submit" value="Go">
      </form>

    </div>
  

   
  
<%- include ("partials/footer.ejs") %>